@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Comic Neue', cursive;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.whole-page {
  position: relative;
  min-height: 100vh;
}

/* 
_______________________________

footer
________________________________
*/

.container {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* 
________________________________

navbar
_________________________________
*/

.nav-container {
  position: relative;
}

.navbar {
  background-color: white;
  font-family: 'Comic Neue', cursive;
}

/*
____________________________

home page
____________________________
*/

.restaurant-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: '50vh';
  padding: '30px';
  width: 40vw;
  margin: '0 auto';
  border: 1px solid black;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.all-restaurants-card {
  scroll-snap-align: start;
  flex: 0 0 33.33%;
}

.scroll-button {
  position: fixed;
  right: 30px;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button-right {
  position: fixed;
  left: 475px;
  transform: translateY(-50%);
  padding: 10px;
  cursor: pointer;
  z-index: 1; 
}

.scroll-icons {
  color: black;
  background-color: white;
}

.scroll-icons:hover {
  background-color: white;
}

/* 
____________________________

table styling
_____________________________
*/

.seat {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: gray;
  border: 1px solid black;
  border-color: black;
  margin-top: 8px;
}


.table {
  display: flex;
  background-color: lightblue;
  justify-content: space-evenly;
  position: relative;
}

.single-r-card {
  margin-top: 50px;
}

.book-table {
  display: grid;
}

.book-table-component {
  grid-column: 1;
  margin-bottom: 8px;
}

.recommendations {
  grid-column: 2;
}

.review-counter {
  cursor: pointer;
}

.review-counter:hover {
  color: blue;
}

/*
__________________________________

restaurant layout
__________________________________
*/

.date-picker {
  margin-top: 30px;
}

.layout-container {
  display: flex;
}

.table-container {
  height: 75vh;
  width: 75vw;
  border: 1px solid black;
  margin: 25px;
}

.layout-key {
  text-align: center;
  height: 75vh;
  width: 20vw;
  margin: 25px;
  flex-direction: column;
  background-color: #ADD8E6;
}

.seat-key {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: gray;
  border: 1px solid black;
  border-color: black;
  margin-top: 50px;
  margin-left: 10px;
}

.available-key {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #ADD8E6;
  border: 1px solid black;
  border-color: black;
  margin-top: 30px;
  margin-left: 10px;
}

.reserved-key {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #FF7276;
  border: 1px solid black;
  border-color: black;
  margin-top: 30px;
  margin-left: 10px;
}

.color-key-container {
  white-space: nowrap;
  align-items: center;
}

.user-buttons {
  margin-top: 25px;
  margin-bottom: 10px;
  display: inline-block;
}

.layout-instructions {
  margin: 10px;
}

.layout-btns {
  width: 150px;
}

/* 
_____________________________________________

RestaurantCard Component in single restaurant view
______________________________________________
*/

.bio {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.r-name {
  border-bottom: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.r-style {
  margin-top: 10px;
}

.r-rating {
  display: inline-flex;
}

.r-rating-number {
  margin-right: 6px;
}

/*
_______________________________

reviews
________________________________

*/

.review-card {
  display: flex;
  flex-flow: row;
}

.review-content {
  border: none;
}

/* 
____________________________________

Scrolling home page restaurant cards
____________________________________
*/

.all-restaurants-card {
  width: 18rem;
  padding: 5px;
}

.card-star-rating {
  margin-bottom: 10px;
}

.restaurant-card-name:hover {
  cursor: pointer;
}
