@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Comic Neue', cursive;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.whole-page {
  position: relative;
  min-height: 100vh;
}

/* 
footer
*/

.container {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* 
navbar
*/

.nav-container {
  position: relative;
}

.navbar {
  background-color: white;
  font-family: 'Comic Neue', cursive;
}

/* 
table styling
*/

.seat {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: gray;
  border-color: black;
  margin-top: 8px;
}


.table {
  display: flex;
  background-color: lightblue;
  justify-content: space-evenly;
  position: relative;
}

.single-r-card {
  margin-top: 50px;
}

.book-table {
  display: grid;
}

.book-table-component {
  grid-column: 1;
  margin-bottom: 8px;
}

.recommendations {
  grid-column: 2;
}

.review-counter {
  cursor: pointer;
}

.review-counter:hover {
  color: blue;
}

.date-picker {
  margin-top: 30px;
}

.layout-container {
  width: 50vh;
  height: 50vh;
}

/* 
RestaurantCard Component in single restaurant view
*/

.bio {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.r-name {
  border-bottom: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
}

.r-style {
  margin-top: 10px;
}

.r-rating {
  display: inline-flex;
}

.r-rating-number {
  margin-right: 6px;
}

/*
reviews
*/

.review-card {
  display: flex;
  flex-flow: row;
}

.review-content {
  border: none;
}

/* 
Scrolling home page restaurant cards
*/

.all-restaurants-card {
  width: 18rem;
  padding: 5px;
}

.card-star-rating {
  margin-bottom: 10px;
}

.restaurant-card-name:hover {
  cursor: pointer;
}

/*
restaurant card container
*/

.restaurant-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
